In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [6]:
data = pd.read_csv('train.csv', index_col= 0)
data = data[['Date','AveragePrice','Value_diff_1','Value_diff_2']]
data

          Date  AveragePrice  Value_diff_1  Value_diff_2
51  2015-01-04          1.80           NaN           NaN
50  2015-01-11          1.92          0.12           NaN
49  2015-01-18          1.79         -0.13         -0.25
48  2015-01-25          1.82          0.03          0.16
47  2015-02-01          1.76         -0.06         -0.09
..         ...           ...           ...           ...
4   2018-02-25          1.41         -0.16         -0.25
3   2018-03-04          1.58          0.17          0.33
2   2018-03-11          1.38         -0.20         -0.37
1   2018-03-18          1.58          0.20          0.40
0   2018-03-25          1.45         -0.13         -0.33

[169 rows x 4 columns]

In [2]:
# Split data into training and testing sets
train = data[:500]
test = data[500:]

# Fit ARMA model
arma_model = ARIMA(train, order=(2, 0, 2))  # Example order, replace with appropriate values
arma_result = arma_model.fit()

# Fit SARIMA model
sarima_model = SARIMAX(train, order=(1, 0, 1), seasonal_order=(0, 0, 0, 12))  # Example order, replace with appropriate values
sarima_result = sarima_model.fit()

# Predictions
arma_pred = arma_result.predict(start=test.index[0], end=test.index[-1])
sarima_pred = sarima_result.predict(start=test.index[0], end=test.index[-1])

# Evaluation metrics
arma_mse = mean_squared_error(test, arma_pred)
sarima_mse = mean_squared_error(test, sarima_pred)

arma_mae = mean_absolute_error(test, arma_pred)
sarima_mae = mean_absolute_error(test, sarima_pred)

print("ARMA - MSE:", arma_mse)
print("SARIMA - MSE:", sarima_mse)

print("ARMA - MAE:", arma_mae)
print("SARIMA - MAE:", sarima_mae)

# Optionally, visualize predictions
plt.figure(figsize=(10, 6))
plt.plot(test, label='Actual')
plt.plot(arma_pred, label='ARMA Predictions')
plt.plot(sarima_pred, label='SARIMA Predictions')
plt.legend()
plt.show()

NameError: name 'data' is not defined